.header {
    background-color: var(--khui-color-white);
    padding: 16px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.25px solid var(--khui-color-medium-grey);

    @media (width <=768px) {
        padding: 11px 12.5px;
    }

    &__khlogo {
        width: 172px;
        height: 31px;

        @media (width <=768px) {
            width: 120px;
            height: 21px;
        }
    }
}