.product {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    &__imgWrapper {
        position: relative;
        width: 100%;
    }

    &__img {
        width: 385px;
        height: 267px;
        margin-bottom: 21px;
        object-fit: cover;

        @media (width <=768px) {
            width: 100%;
        }
    }

    &__title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        align-self: self-start;
        width: 100%;
    }

    &__favoriteBtn {
        position: absolute;
        top: 19px;
        right: 22px;
        cursor: pointer;

        @media (width <=768px) {
            top: 18px;
            right: 18px;
        }
    }
}